.row {
    display: flex;
    justify-content: space-between;
}

.col {
    flex: 1;
    margin: 10px;
}

.carrusel {
    width: 300px; 
    height: 100px;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.texto {
    font-size: 24px;
    text-align: center;
}